<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoxing_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1419},{238,189}}</string>
                <key>offset</key>
                <string>{-19,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,104},{238,189}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoxing_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,973},{278,209}}</string>
                <key>offset</key>
                <string>{-15,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,77},{278,209}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoxing_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,973},{312,219}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{312,219}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoxing_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,969},{344,229}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{344,229}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoxing_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,714},{368,241}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{368,241}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoxing_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,714},{388,253}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{388,253}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoxing_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,710},{404,261}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{404,261}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoxing_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,560},{418,269}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{418,269}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoxing_frame_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,283},{426,275}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{426,275}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoxing_frame_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{436,279}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,279}}</string>
                <key>sourceSize</key>
                <string>{436,293}</string>
            </dict>
            <key>huoyan_frame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1200},{262,307}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,44},{262,307}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1084},{282,333}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,21},{282,333}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{392,329}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,8},{392,329}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,831},{302,341}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,10},{302,341}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1135},{320,327}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,9},{320,327}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,361},{506,351}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{506,351}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{526,353}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{526,353}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{528,357}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{528,357}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,363}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{530,351}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{530,351}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
            <key>huoyan_frame_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,355},{526,353}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{526,353}}</string>
                <key>sourceSize</key>
                <string>{530,363}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_skill_1_hit.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7842de0f9caff761cfb08db7c962b4a1$</string>
            <key>textureFileName</key>
            <string>battle_skill_1_hit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
