<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead_effect_bang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,1165},{329,199}}</string>
                <key>offset</key>
                <string>{-1,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,187},{329,199}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1089},{415,303}}</string>
                <key>offset</key>
                <string>{10,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,102},{415,303}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1474},{433,409}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,1},{433,409}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1039},{427,411}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{427,411}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1510},{443,411}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{443,411}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{463,411}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{463,411}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1510},{459,413}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{459,413}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,676},{465,411}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{465,411}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{465,411}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{465,411}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,754},{465,409}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{465,409}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,343},{471,409}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{471,409}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,323},{477,409}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{477,409}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{481,339}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{481,339}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{481,339}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{481,339}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{473,339}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{473,339}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,335},{475,339}}</string>
                <key>offset</key>
                <string>{2,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,73},{475,339}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{481,331}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{481,331}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{481,319}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{481,319}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1165},{401,307}}</string>
                <key>offset</key>
                <string>{5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,95},{401,307}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>dead_effect_bang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,734},{401,303}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,99},{401,303}}</string>
                <key>sourceSize</key>
                <string>{481,413}</string>
            </dict>
            <key>tank_dead_wreck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{207,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,96}}</string>
                <key>sourceSize</key>
                <string>{207,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dead_effect_bang.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88dc4b6dc2c4244345c12b57b917bbf6$</string>
            <key>textureFileName</key>
            <string>dead_effect_bang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
