<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yantu_dust_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,328},{264,138}}</string>
                <key>offset</key>
                <string>{-42,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,33},{264,138}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,182},{276,144}}</string>
                <key>offset</key>
                <string>{-38,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{276,144}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{320,178}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{320,178}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{338,178}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{338,178}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{352,168}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,340},{286,148}}</string>
                <key>offset</key>
                <string>{-33,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{286,148}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,654},{292,152}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{292,152}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,182},{300,156}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{300,156}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,666},{308,162}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{308,162}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{316,164}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{316,164}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{318,168}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{318,168}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{328,172}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{328,172}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
            <key>yantu_dust_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,346},{306,176}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{306,176}}</string>
                <key>sourceSize</key>
                <string>{356,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tank_dust.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb63c8093cc103765f7f6e7271d3487f$</string>
            <key>textureFileName</key>
            <string>effect_tank_dust.pvr.ccz</string>
        </dict>
    </dict>
</plist>
