<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>specialFire_2_gj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,119},{128,109}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{128,109}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,119},{128,109}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{128,109}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{176,133}}</string>
                <key>offset</key>
                <string>{-37,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{176,133}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{142,115}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{142,115}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{150,123}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{150,123}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,139},{154,139}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{154,139}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,137},{158,129}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{158,129}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{166,135}}</string>
                <key>offset</key>
                <string>{-27,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{166,135}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,133}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{240,133}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{176,135}}</string>
                <key>offset</key>
                <string>{-31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{176,135}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
            <key>specialFire_2_gj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{178,135}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{178,135}}</string>
                <key>sourceSize</key>
                <string>{250,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire_effetc_05.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42bab1a7f4fcf68dbf08f2c78758cede$</string>
            <key>textureFileName</key>
            <string>fire_effetc_05.pvr.ccz</string>
        </dict>
    </dict>
</plist>
