<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>specialFire_1_gj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,313}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{227,313}}</string>
                <key>sourceSize</key>
                <string>{233,313}</string>
            </dict>
            <key>specialFire_1_gj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{225,271}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{225,271}}</string>
                <key>sourceSize</key>
                <string>{233,313}</string>
            </dict>
            <key>specialFire_1_gj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{209,227}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,54},{209,227}}</string>
                <key>sourceSize</key>
                <string>{233,313}</string>
            </dict>
            <key>specialFire_1_gj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{193,141}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,87},{193,141}}</string>
                <key>sourceSize</key>
                <string>{233,313}</string>
            </dict>
            <key>specialFire_1_gj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,769},{167,139}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,92},{167,139}}</string>
                <key>sourceSize</key>
                <string>{233,313}</string>
            </dict>
            <key>specialFire_1_gj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,590},{177,131}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,100},{177,131}}</string>
                <key>sourceSize</key>
                <string>{233,313}</string>
            </dict>
            <key>specialFire_1_gj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,819},{185,127}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,102},{185,127}}</string>
                <key>sourceSize</key>
                <string>{233,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire_effetc_04.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f4ac253f41a4978e59ed94b418f87c9$</string>
            <key>textureFileName</key>
            <string>fire_effetc_04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
