<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>specialFire_4_gj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,44}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>specialFire_4_gj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{59,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire_effetc_07.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d703baf159ac3776b153a3f58e19d5b7$</string>
            <key>textureFileName</key>
            <string>fire_effetc_07.pvr.ccz</string>
        </dict>
    </dict>
</plist>
