<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>specialFire_3_gj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,25}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>specialFire_3_gj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{34,23}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,23}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>specialFire_3_gj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>specialFire_3_gj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,29},{34,27}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>specialFire_3_gj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,29},{36,27}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire_effetc_06.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ede956791dba7befa12ae3c8ea4726b$</string>
            <key>textureFileName</key>
            <string>fire_effetc_06.pvr.ccz</string>
        </dict>
    </dict>
</plist>
