<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effetc_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,2},{132,291}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,4},{132,291}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1115},{202,295}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{202,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,889},{242,295}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{242,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1292},{256,295}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{256,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,1454},{258,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1228},{258,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,1194},{258,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1186},{258,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,968},{258,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1149},{258,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1032},{258,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,889},{258,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1409},{256,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{256,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1778},{254,295}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1778},{254,295}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1409},{254,295}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{254,295}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_0_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1483},{256,293}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,293}}</string>
                <key>sourceSize</key>
                <string>{258,295}</string>
            </dict>
            <key>hit_effetc_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,928},{264,303}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,76},{264,303}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,654},{272,327}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,55},{272,327}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,738},{292,335}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,44},{292,335}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,654},{312,333}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,32},{312,333}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{486,385}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{486,385}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,349},{506,387}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{506,387}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{508,375}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{508,375}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,375}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{510,375}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{510,345}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{510,345}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{506,347}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,39},{506,347}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{376,323}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,42},{376,323}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,327},{372,325}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,40},{372,325}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,634},{348,253}}</string>
                <key>offset</key>
                <string>{-10,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,103},{348,253}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
            <key>hit_effetc_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,379},{368,253}}</string>
                <key>offset</key>
                <string>{-19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,104},{368,253}}</string>
                <key>sourceSize</key>
                <string>{510,387}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_01.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09802a7be946a1c343db7c54dcc563f5$</string>
            <key>textureFileName</key>
            <string>hit_effect_01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
