<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effetc_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1416},{285,339}}</string>
                <key>offset</key>
                <string>{25,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,2},{285,339}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1065},{305,313}}</string>
                <key>offset</key>
                <string>{33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,25},{305,313}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1073},{341,335}}</string>
                <key>offset</key>
                <string>{31,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,2},{341,335}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1470},{365,333}}</string>
                <key>offset</key>
                <string>{28,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,2},{365,333}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{393,329}}</string>
                <key>offset</key>
                <string>{22,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,4},{393,329}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,345},{415,337}}</string>
                <key>offset</key>
                <string>{18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,0},{415,337}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{395,333}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{395,333}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{399,341}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{399,341}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,684},{399,379}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,1},{399,379}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,391},{411,383}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{411,383}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{435,383}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{435,383}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,2},{453,385}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{453,385}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{455,387}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{455,387}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,389},{437,385}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{437,385}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{469,341}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,34},{469,341}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
            <key>hit_effetc_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,341}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{497,341}}</string>
                <key>sourceSize</key>
                <string>{511,387}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effetc_02.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:409b6673fa6883551ab7c960148c9e80$</string>
            <key>textureFileName</key>
            <string>hit_effetc_02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
