<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>specialFire_1_sj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,322},{407,312}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{407,312}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1549},{407,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{407,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{407,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{407,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,322},{403,318}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,322},{407,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{407,316}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,322},{407,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{407,316}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{407,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,2},{407,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{407,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{407,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
            <key>specialFire_1_sj_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{407,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,318}}</string>
                <key>sourceSize</key>
                <string>{407,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effetc_04.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef45b162ea48659e52f9fd5becdfcdb4$</string>
            <key>textureFileName</key>
            <string>hit_effetc_04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
