<?xml version="1.0"?>
<appSettings>
  <add key="TRACEBuffFlag" value="true"/>
  <add key="IsDebug" value="true"/>
  <add key="StaticDataVersion" value="45"/>
  <add key="RPTVerNo" value="102"/>

  <!--大区编号，每个区不一样-->
  <add key="ZoneName" value="wyxs1"/>
  <!--log里 显示的appid-->
  <add key="AppName" value="MatchEmulator"/>
  <!--模拟器使用的经理id-->
  <add key="EmulatorHomeId" value="10000000002"/>
  <!--10000000330"/>-->
  <add key="EmulatorAwayId" value="261"/>
</appSettings>
