<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Games.NBall.Dal.Properties.Settings.NB_ConfigConnectionString"
            connectionString="Data Source=180.150.178.193;Initial Catalog=NB_Config;Persist Security Info=True;User ID=sa;Password=2df!3T*)d12"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
