<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
    <section name="SkillEngineConfig" type="System.Configuration.NameValueSectionHandler"/>
    <section name="TriggerMapping" type="System.Configuration.NameValueSectionHandler"/>
    <section name="SkillDebuger" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="OutputTool" value="Games.NB.Match.Output.XmlOutputTool, Games.NB.Match.OutputEngine"/>
    <add key="LogTool" value="Games.NB.Match.Log.Log4netAdapter, Games.NB.Match.Log"/>
    <add key="ManagerService" value="Games.NB.Match.DAF.LocalManagerAdapter, Games.NB.Match.DAF"/>
    <add key="ThreadPool" value="Games.NB.Match.Engine.ThreadPool.SystemThreadPool, Games.NB.Match.Engine.ThreadPool"/>
    <add key="IsDebugPlayerPropertyRandom" value="true"/>
  </appSettings>

  <SkillEngineConfig>
    <add key="ActionSkillBuilderConfig" value="TriggerConditions,PropertyChanges,Displacements,FoulRelated,BallRelated,Debuffs,SpecialEffects"/>
    <add key="OpenerSkillBuilderConfig" value=""/>
  </SkillEngineConfig>

  <TriggerMapping>
    <add key="0" value="FirstHalfTrigger"/>
    <add key="1" value="SecondHalfTrigger"/>
    <add key="2" value="StateTrigger"/>
    <add key="3" value="TargetTrigger"/>
    <add key="4" value="PercentageTrigger"/>
    <add key="5" value="HoldBallTrigger"/>
  </TriggerMapping>

  <SkillDebuger>
    <!--主队-->
    <add key="0" value=""/>
    <add key="1" value=""/>
    <add key="2" value=""/>
    <add key="3" value=""/>
    <add key="4" value=""/>
    <add key="5" value=""/>
    <add key="6" value=""/>

    <!--客队-->
    <add key="7" value=""/>
    <add key="8" value=""/>
    <add key="9" value=""/>
    <add key="10" value=""/>
    <add key="11" value=""/>
    <add key="12" value=""/>
    <add key="13" value=""/>
  </SkillDebuger>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>   
  
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MatchServiceBehavior" name="Games.NB.Match.BLF.MatchService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="MatchService_wsHttpBinding" contract="Games.NB.Match.BLF.IMatchService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:12571/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:8731/Design_Time_Addresses/HB_ServiceImplementLib/ManagerService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IManagerService" contract="ManagerProxy.IManagerService" name="WSHttpBinding_IManagerService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IManagerService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
        </binding>
        <binding name="MatchService_wsHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>        
        <behavior name="MatchServiceBehavior">          
          <serviceMetadata httpGetEnabled="true"/>         
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <log4net>
    <!--定义日志的输出媒?按照一种类型或其他类型输出-->
    <root>
      <appender-ref ref="RollingLogFileAppenderRunning"/>
      <appender-ref ref="RollingLogFileAppenderError"/>
      <appender-ref ref="RollingLogFileAppenderDebug"/>
    </root>
    <!--正常运行日志信息log.Info()调用时写-->
    <appender name="RollingLogFileAppenderRunning" type="log4net.Appender.RollingFileAppender">
      <!--运行日志存放路径-->
      <param name="File" value=".\\logs\\RUN\\"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="WARN"/>
      </filter>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n"/>
      </layout>
    </appender>
    <!--异常日志信息log.Error()调用时写-->
    <appender name="RollingLogFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <!--异常日志存放路径-->
      <param name="File" value=".\\logs\\ERROR\\"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n"/>
      </layout>
    </appender>
    <!--可还原日志信息log.Debug()调用时写-->
    <appender name="RollingLogFileAppenderDebug" type="log4net.Appender.RollingFileAppender">
      <!--可还原日志存放路-->
      <param name="File" value=".\\logs\\debug\\"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="DEBUG"/>
      </filter>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%m%n"/>
      </layout>
    </appender>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
