<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <system.serviceModel>

    <diagnostics performanceCounters="Off">

      <!--<messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true"
        logMessagesAtTransportLevel="true" />-->

    </diagnostics>

    <bindings>

      <netTcpBinding>
        <binding name="netTcpBindingDefault_Server" maxConnections="65535" listenBacklog="65535" transactionFlow="false" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" portSharingEnabled="false">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
          <reliableSession enabled="false"/>
          <readerQuotas maxArrayLength="2147483647" maxDepth="64" maxStringContentLength="2147483647"/>
        </binding>

        <binding name="NetTcpBinding_Client" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="500" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="500" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="163840000"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>

      </netTcpBinding>
    </bindings>

    <services>
      <!--Service 端口 前三位代表host标识，后两位代表服务编号-->
      <service behaviorConfiguration="ServiceBehavior" name="Games.NB.Match.BLF.MatchService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:20001/MatchService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:20001/MatchService" binding="netTcpBinding" bindingConfiguration="netTcpBindingDefault_Server" contract="Games.NB.Match.BLF.IMatchService"/>
      </service>
    </services>
    <!--extensions>
      <behaviorExtensions>
        <add name="errorHandler" type="Games.NBall.ServiceEngine.Extensions.ErrorHandlerElement, Games.NBall.ServiceEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add name="extendInvoker" type="Games.NBall.ServiceEngine.Extensions.ExtendInvokerElement, Games.NBall.ServiceEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions-->
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <!--
          <clientCredentials />
          <dataContractSerializer />
          <enableWebScript />
          <webHttp />
          -->
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" policyVersion="Policy15"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!--principalPermissionMode="None/UseWindowsGroups/UseAspNetRoles/Custom" roleProviderName="String" serviceAuthorizationManagerType="String"-->
          <serviceAuthorization principalPermissionMode="None" impersonateCallerForAllOperations="false"/>
          <serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="true" includeWindowsGroups="false"/>
            <!--<userNameAuthentication
             cacheLogonTokenLifetime="TimeSpan"
             cacheLogonTokens="Boolean"
             customUserNamePasswordValidatorType="String"
             includeWindowsGroups="Boolean"
             maxCacheLogonTokens="Integer"
             membershipProviderName="String"
             userNamePasswordValidationMode="Windows/MembershipProvider/Custom" />-->
          </serviceCredentials>
          <!--<extendInvoker/>-->
          <!--errorHandler/-->
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <!-- MaxConcurrentSessions: default is 100 * ProcessorCount; MaxConcurrentCalls: default is 16 * ProcessorCount; MaxConcurrentInstances: default is the total of the above two -->
          <serviceThrottling maxConcurrentCalls="65535" maxConcurrentSessions="65535" maxConcurrentInstances="65535"/>
          <!--<serviceAuthorization principalPermissionMode="Custom" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
    </standardEndpoints>

    <client>
      <endpoint name="NetTcp_IMatchService" address="net.tcp://localhost:20001/MatchService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NB.Match.BLF.IMatchService"></endpoint>
    </client>

  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
